/*
 * Base Styles
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1efe9;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #352B13;
}

a {
    text-decoration: none;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.027em;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1.266em;
    margin-bottom: 0.624em;
}


/*
 * Grid
 */

.container {
    padding: 2em 1em;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    height: 100%;
}

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.col-one {
    width: 100%;
}


/*
 * Content styles
 */


/* for map to display */

section,
.map-article,
.map-row,
.map-col {
    height: 100%;
}

/*Only if map marker is selected*/
/*.map-row {
        height: 80%;
    }*/

#map {
    height: 100%;
}

/*Tab Styles*/

.tab-list {
    padding: 1em 0;
}

.tab {
    display: inline;
    padding: 1em;
    background: #e5e5de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color, 1s;
}


/* Active tab class*/

.active {
    background-color: #fffdf8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Folder Content Styles*/
.content {
    padding: 1em;
    background-color: #fffdf8;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: none;
}

.reveal {
    display: block;
}

/* Search styles*/

#search:first-child:after {
    content: '\f002';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0 0 0 1em;
   color: #4591af;
}

.search-container {
    width: 80%;
    margin: 3em auto 1.5em auto;
    display: block;
}

.searchbar {
    display: table;
    border-bottom: 2px solid;
    padding: 0.5em 0;
    width: 100%;

}

.search,
.fa.fa-times-circle {
    display: table-cell;
    vertical-align: baseline;
    padding: 0.5em 0 0.2em;
}

.search {
    margin: 0;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.266em;
    color: #4591af;
    font-weight: 300;
    box-shadow: none;
    border: none;
    background: transparent;
    overflow: hidden;
}

.search:focus {
    outline: none;
}

.fa.fa-times-circle {
    color: #adada6;
    font-size: 1.266em;
    padding: 0.5em 0.5em 0.2em;
    text-align: center;
    transition: color, 250ms;
}

.fa.fa-times-circle:hover {
    color: #ce8b04;
}

.label {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
    color: #ce8b04;
}

/* Venue List styles*/
.list-item {
    width: calc(100% - 2em);
}

.box {
    border: 3px solid #4591af;
    box-shadow: 3px 3px 0px 0px rgba(69, 145, 175, 1);
    margin: 1.5em 1em;
    transition: box-shadow, 250ms;
    text-align: left;
    padding: 0.3em;
}

.box:hover {
    box-shadow: none;
}

.title {
    display: block;
    overflow-wrap: break-word;
    padding: 0.5em;
    font-weight: 500;
    font-size: 1.266em;
}

.tag-box {
    padding: 0 0.5em 0.5em;
}

.tag {
    margin: 0 0.3em 0 0;
    font-size: 1em;
    color: #adada6
}


/* Infowindow styling*/

.infowindow-text {
    width: 100%;
    padding: 10px 5px;
    color: #352B13;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.venue-link {
    padding: 0.5em 0;
    color: #352B13;
    font-weight: 500;
    font-size: 1.125em;
}

.venue-link:hover {
    color: #4591af;
}

.contact-box {
    border-top: 1px solid;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

address {
    font-style: normal;
}

.time-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 10px;
}

.contact-box> i {
    padding-right: 10px;
    font-size: 16px;
    color:#e54125;
}

.time-box>i {
    font-size: 12px;
    padding-right: 8px;
    color: #4591af;
}

.time-box> p {
    margin: 0;
}

/*.image-box {
    border-top: 1px solid;
    padding-top: 10px;
}*/

.foursquare-img {
    width: 100%;
    max-width: 100%;
}

/*Error Box*/
.error-box {
    padding: 5em;
    text-align: center;
    color: black;
}

@media screen and (min-width: 400px) {
    .foursquare-img {
        width: 70%;
    }
}

@media screen and (min-width: 650px) {

    body {
        font-size: 16px;
    }

    /* Search styles*/
    .search-container {
        margin: 6em auto 3em auto;
        width: 60%;
    }

    .search,
    .fa.fa-times-circle {
        font-size: 1.4243em;
    }

}

@media screen and (min-width: 800px) {

    /* Search styles */
    .search-container {
        margin: 10em auto 6em auto;
        width: 60%;
    }
    .search{
        font-size: 3.653em;
    }

    .fa.fa-times-circle {
        font-size: 2.882em;
    }


    /*Venue List styles*/

    .venue-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-item {
        width: calc(100% / 2 - 6em);
    }

    .box {
        margin: 1.5em 3em;
        padding: 4em 2em;
        border: 4px solid #4591af;
        box-shadow: 5px 5px 0px 0px rgba(69, 145, 175, 1);
    }
    .title {
    display: block;
    overflow-wrap: break-word;
    font-size: 1.266em;
}
}