/*
 * Base Styles
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1efe9;
    font-family: 'Futura';
    font-size: 16px;
}

a {
    text-decoration: none;
    padding: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.027em;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1.266em;
    margin-bottom: 0.624em;
}


/*
 * Grid
 */

.container {
    padding: 2em 1em;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    height: 100%;
}

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.col-one {
    width: 100%;
}


/*
 * Content styles
 */


/* for map to display */

section,
.map-article,
.map-row,
.map-col {
    height: 100%;
}

/*Only if map marker is selected*/
/*.map-row {
        height: 80%;
    }*/

#map {
    height: 100%;
}

/*Tab Styles*/

.tab-list {
    padding: 1em 0;
}

.tab {
    display: inline;
    padding: 1em;
    background: #e5e5de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color, 1s;
}


/* Active tab class*/

.active {
    background-color: #fffdf8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Folder Content Styles*/
.content {
    padding: 1em;
    background-color: #fffdf8;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: none;
}

.reveal {
    display: block;
}

/* Search styles*/
.search-container {
    width: 80%;
    margin: 3em auto 1.5em auto;
    display: block;
}

.search {
    display: block;
    padding: 0.6em 0;
    margin: 0;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid;
    border-radius: none;
    background: transparent;
    overflow: hidden;
    transition: font, 250ms;
}

.search:focus {
    outline: none;
    font-size: 25px;
}

.label {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
    font-size: 14px;
    color: #baa372;
}

/* Venue List styles*/
.list-item {
    width: calc(100% - 1em);
}

.box {
    border: 2px solid black;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    margin: 1em 0.5em;
    color: #baa372;
    transition: box-shadow, 250ms;
    padding: 1em;
    text-align: left;
}

.box:hover {
    box-shadow: none;
}


/* Infowindow styling*/

.infowindow-text {
    width: 100%;
    padding: 10px;
}

.venue-link {
    padding: 0.5em 0;
}

.contact-box {
    border-top: 1px solid;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-style: normal;
}

.time-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 10px;
}

.contact-box>i {
    padding-right: 10px;
    font-size: 16px;
}

.time-box>i {
    font-size: 12px;
    padding-right: 8px;
}

.time-box>p {
    margin: 0;
}

.image-box {
    border-top: 1px solid;
    padding-top: 10px;
}

.foursquare-img {
    width: 100%;
    max-width: 100%;
}

/*Error Box*/
.error-box {
    padding: 5em;
    text-align: center;
    color: black;
}

@media screen and (min-width: 400px) {
    .foursquare-img {
        width: 70%;
    }
}

@media screen and (min-width: 600px) {

    /* Search styles*/
    .search-container {
        margin: 6em auto 3em auto;
        width: 60%;
    }

    .search {
        font-size: 20px
    }

    .search:focus {
        font-size: 30px;
    }

    /* Venue List Styles*/
    .venue-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list-item {
        width: calc(100% / 2 - 2em);
    }

    .box {
        margin: 1em;
    }
}

@media screen and (min-width: 800px) {

    /* Search styles*/
    .search:focus {
        outline: none;
        font-size: 40px;
    }

    .label {
        font-size: 16px;
    }

    /*Venue List styles*/
    .list-item {
        width: calc(100% / 2 - 6em);
    }

    .box {
        margin: 1.5em 3em;
        padding: 4em 2em;
        border: 4px solid black;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    }
}